<div class="banner">
	<div class="container">
		<h1 id="startseite_h1">Darf ich mich vorstellen?!</h1>
		<h2 id="startseite_h2">Mein persönlicher BewerbungsClip:</h2>
	</div>
</div>

<div class="row container up-and-away-boss">
  	<div class="span4 offset7 boss-box">
      
  	</div>
</div>

