<% provide(:title, 'Datenschutz') %>
<div class="banner">
  <div class="container">

    <div class="row impressum-row">
      <div class="span5 offset3 impressum-box">
        <div class="span4">
          <h1>Impressum</h1>
          <h3>Lukas Weinwurm</h3>
          <h3>Sebastian Kovar</h3><br>
          <h2>Kontaktanschrift</h2>
          <h3>Linzer Straße 160/6/17 <br>1140 Wien</h3>
          <h3>bewerbungsclip@gmail.com</h3><br>
          <h4>Durch das Betreiben dieser Website wird kein Gewinn erwirtschaftet oder angestrebt. Der Betreiber der Website beabsichtigt kostendeckend zu arbeiten.</h4><br>
        </div>
      </div>
    </div>   

  </div>
</div>
