<% provide(:title, 'Preise') %>
<div class="banner">
  <div class="container">
    <div class="row toparguments-row">
        <div class="span12 center">
          <h1 class="preish1">Teste BewerbungsClip 1 Tag gratis.</h1>
          <h4 class="preish4">Wenn du überzeugt bist, entscheide dich für einen Preis und schalte dein Konto frei.</h4>
        </div>
      </div>

    <div class="row preise-row">

      <div class="span3 preise-box">
        <div class="span3">
          <h2>€15 / Monat</h2>
          <h4>für 2 Video-Profile</h4>
        </div>
        <div class="span3">
          <ul class="vorteile">
            <li>kein Abo & <br>keine versteckten Kosten</li>
            <li>Video einfach in dein Profil hochladen</li>
            <li>jedes Video-Profil ist mit einem individuellen Kennwort geschützt</li>
            <li>sicherer und einfacher Zugriff auf der Startseite</li>
          </ul>
        </div>
        <div class="span3">
          <%= link_to "kostenlose Registrierung", signup_path, class: "btn btn-large btn-success btn-form" %>
        </div>
      </div>
      <div class="span3 preise-box">
        <div class="span3">
          <h2>€25 / Monat</h2>
          <h4>für 5 Video-Profile</h4>
        </div>
        <div class="span3">
          <ul class="vorteile">
            <li>kein Abo & <br>keine versteckten Kosten</li>
            <li>Video einfach in dein Profil hochladen</li>
            <li>jedes Video-Profil ist mit einem individuellen Kennwort geschützt</li>
            <li>sicherer und einfacher Zugriff auf der Startseite</li>
          </ul>
        </div>
        <div class="span3">
          <%= link_to "kostenlose Registrierung", signup_path, class: "btn btn-large btn-success btn-form" %>
        </div>
      </div>
      <div class="span3 preise-box">
        <div class="span3">
          <h2>€40 / Monat</h2>
          <h4>für unbeschränkt viele <br>Video-Profile</h4>
        </div>
        <div class="span3">
          <ul class="vorteile">
            <li>kein Abo & <br>keine versteckten Kosten</li>
            <li>Video einfach in dein Profil hochladen</li>
            <li>jedes Video-Profil ist mit einem individuellen Kennwort geschützt</li>
            <li>sicherer und einfacher Zugriff auf der Startseite</li>
          </ul>
        </div>
        <div class="span3">
          <%= link_to "kostenlose Registrierung", signup_path, class: "btn btn-large btn-success btn-form" %>
        </div>
      </div>
      
    </div>
  </div>
</div>  

<div class="savecontent-preise">
  <div class="container">
    <h2 class="preise_h5">Dein BewerbungsClip ist verschlüsselt und geschützt. Du bestimmst mit Passwort wer darauf Zugriff hat.</h2>
  </div>
</div>