<% provide(:title, 'Preise') %>
<div class="banner">
  <div class="container">
    <h1 class="preise_h1">Teste BewerbungsClip</h1>
    <h1 class="preise_h2">24 Stunden gratis!</h1>
    <h2 class="preise_h3">Wenn du damit zufrieden bist,</h2>
    <h2 class="preise_h4">schalte dein Konto frei!</h2>
  </div>
</div>

<div class="row container up-and-away-preise">
  <div class="span4 offset7 preise-box">
    <div class="span3">
      <h2>€60 pro Jahr</h2>
      <h5>entspricht €5,00 monatlich</h5>
    </div>

    <div class="span3">
      <ul class="vorteile">
        <li>keine versteckten Kosten</li>
        <li>bis zu 5 Video-Profile</li>
        <li>einfaches uploaden des Videos in dein Profil</li>
      </ul>
    </div>
    <div class="span3">
      <%= link_to "kostenlose Registrierung", signup_path, class: "btn btn-large btn-success btn-form" %>
    </div>
  </div>
</div>

<div class="savecontent">
  <div class="container">
    <h2 class="preise_h5">Dein BewerbungsClip ist verschlüsselt und geschützt. Du bestimmst mit Passwort wer darauf Zugriff hat.</h2>
  </div>
</div>

