<% provide(:title, 'Template erstellen') %>
<div class="banner">
	<div class="container">
		<div class="row template-create-row">
			<div class="span6 offset3 template-create-box">
				<div class="span6">
					<div class="span5">
						<h1>Neues Profil erstellen</h1>
					</div>
				</div>
				
				<%= render 'form' %>
				
			</div>
		</div>
	</div>
</div>