<% provide(:title, 'All users') %>

<div class="container">
	<div class="row">
		<div class="span12 center">
			<h1>Alle User</h1>
		</div>
	</div>

	<div class="row">
		<div class="span10 offset1 center">
			<%= will_paginate %>
		</div>
	</div>

	<div class="row">
		<div class="span6 offset3 userz center">
			<%= render @users %>
		</div>
	</div>

	<div class="row">
		<div class="span10 offset1 center">
			<%= will_paginate %>
		</div>
	</div>

</div>