<footer class="footer container">
  <nav>
    <ul>
      <li><%= link_to "Haftungsausschluss", haftungsausschluss_path %></li>
      <li><%= link_to "Impressum & Kontakt", impressum_path %></li>
    </ul>
  </nav>
</footer>