<footer class="footer container">
  <small>
    <a href="#">BewerbungsClip.com</a>
    by LWW & SWK
  </small>
  <nav>
    <ul>
      <li><%= link_to "Hilfe", hilfe_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
    </ul>
  </nav>
</footer>